# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Mailgun
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM_EMAIL=
MAILGUN_API_URL=https://api.mailgun.net   # use https://api.eu.mailgun.net for EU-region domains

# Paystack
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=

# Flutterwave
FLW_SECRET_KEY=
FLW_SECRET_HASH=
NEXT_PUBLIC_FLW_PUBLIC_KEY=

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_CURRENCY=NGN
